In [1]:
import sys
import os

project_root = os.path.dirname(os.getcwd())
sys.path.append(project_root)

In [2]:
from src.dataset import PretrainDataset

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("../data/ETTh1.csv")
data.head()

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

In [5]:
data['group_id'] = 'A'
data['date'] = pd.to_datetime(data['date'])
data.head()

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT,group_id
0,2016-07-01 00:00:00,5.827,2.009,1.599,0.462,4.203,1.340,30.531000,A
1,2016-07-01 01:00:00,5.693,2.076,1.492,0.426,4.142,1.371,27.787001,A
2,2016-07-01 02:00:00,5.157,1.741,1.279,0.355,3.777,1.218,27.787001,A
3,2016-07-01 03:00:00,5.090,1.942,1.279,0.391,3.807,1.279,25.044001,A
4,2016-07-01 04:00:00,5.358,1.942,1.492,0.462,3.868,1.279,21.948000,A

In [6]:
data['time_index'] = (data['date'] - data['date'].min()).apply(lambda x: int(x.total_seconds()/60/60))

In [7]:
trainset = PretrainDataset(
    data=data,
    group_id='group_id',
    time_col='date',
    time_index='time_index',
    target='OT',
    seq_len=30,
    min_count_per_sample=20,
    stride=1,
    freq='h'
)

In [8]:
print(f"size of trainset: {len(trainset)}")

size of trainset: 17401

In [9]:
trainset[0]

{'target': tensor([2.0085, 1.6882, 1.6882, 1.3680, 1.0066, 0.9163, 1.1051, 1.1462, 0.9738,
         0.4811, 0.7768, 0.7931, 0.6864, 0.6125, 0.7274, 0.4646, 0.7192, 0.6781,
         0.8588, 0.6289, 0.5303, 0.5468, 0.5468, 0.7521, 0.9081, 0.7438, 0.7849,
         0.8670, 0.9409, 1.0395]),
 'time_index': tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
         18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
 'group_id': tensor([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0]),
 'mask': tensor([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0])}

In [13]:
trainloader = trainset.to_dataloader(
    batch_size=30,
    shuffle=True,
)

In [15]:
print(f"num_works: {trainloader.num_workers}")

num_works: 8